// styles for a form-container, form-row and form-field
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;

    form {
        // add padding round eges and a box shadow
        padding: 1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
    }
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

// style for form-error 
.form-error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

// define styles for a button blue and secondary light blue
.form-btn {
    background-color: #19446f;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;

    //  on hover light blue
    &:hover {
        background-color: #1e6ebf;
    }
}